@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Lato', sans-serif;
}

.pie {
  max-width: 240px;
  margin: 20px;
}

.pie-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.pad-top {
  padding-top: 10px;
}

.container {
  position: relative;
  margin: auto;
  padding: 20px;
  font-size: 18px;
  overflow: hidden;
  max-width: 700px;
  background: white;
  border-radius: 10px;
}

.small-squeeze {
  margin-left: 5%;
  margin-right: 5%;
}

.big-squeeze {
  margin-left: 15%;
  margin-right: 15%;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.grid {
  display: grid;
}

.word-list {
  grid-template-columns: 75% 25%
}

@media only screen and (max-width: 600px) {
    .radio-button-container {
      flex-direction: column;
    }

    .word-type-selector {
      padding-bottom: 3px;
    }

  }

.recurring-words-title {
  padding-bottom: 5px;
}